<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Ginko</string>
	<key>CFBundleGetInfoString</key>
	<string>Ginko version 0.5.4, Copyright 2001-2006 by Objectpark Group &lt;http://www.objectpark.org/&gt;</string>
	<key>CFBundleIconFile</key>
	<string>Ginko.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.objectpark.GinkoAlpha</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ginko</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.4</string>
	<key>CFBundleSignature</key>
	<string>GNKO</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Email Address URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mailto</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.5.4</string>
	<key>Java</key>
	<dict>
		<key>JVMVersion</key>
		<string>1.5+</string>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2001-2006 Objectpark Group.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>GIApplication</string>
</dict>
</plist>
